<%= link_to "Create a new gossip!", new_gossip_path, :class => "btn btn-dark btn-lg btn-block", :role => "button", :style => "margin-bottom: 5vh" %>

<% @gossips.each do |gossip| %>

	<div class="card" style="margin-bottom: 2vh">
		<div class="card-body">
			<h4 class="card-title font-weight-bold playfair-relative"> <%= gossip.title.capitalize %></h4>
			<div class="row">
				<div class="col">
					<p class="card-text"> <%= User.find(gossip.user_id).first_name %></p>
					
					<span class="badge badge-info">
						<%= Comment.where(gossip: gossip.id).count %> <span style="font-size: .8em">💬</span>
					</span> 

					<a href="<%= gossip_likes_path(gossip.id)%>" class="badge badge-light" data-method="post">
						<%= Like.where(gossip: gossip.id).count %> <span style="font-size: .8em">❤️</span>
					</a>
				</div>

				<div class="col text-right">
					<%= link_to "Read more about the gossip ##{gossip.id}", gossip_path(gossip.id), :class => "btn btn-outline-dark" %>
				</div>
			</div>
		</div>
	</div>

<% end %>